body {
    font-family: Comic Sans MS;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: italics;
}

.img-medium {
    height: 200px;
}

